.wrapper__slider {
    background-image: url('../img/background.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 20rem;
    background-attachment: fixed;
}

.sliderBox {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    align-items: center;
}

.btn {
    padding: 1rem;
    background-color: #139192;
}